<div class="anders">
    <table class="table">
      <tr>
        <td class="btbLogoPlacement">
          <a href='/'>
            <img class="image" src="../../../assets/images/btb-logo-200px.png" alt="BTB logo">
          </a>
        </td>
        <td class="align-s" style="width: 33%; font-size:x-large; text-align: center;">
            <p class="textPlacement">Willkommen zum CV-Manager!</p>
        </td>
        <td class="buttonPlacement">
          <button class="button">FAQ</button>
        </td>
      </tr>
    </table>
  </div>